// Font sizes
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 32px;
$font-xl: 48px;

// Font Weight
$weight-xs: 400;
$weight-md: 700;

// Colors
$color-primary: #212731;
$color-secondary: #fbfcfd;
$rating-bg-color: #f3f9ff;

// Additional colors
$nav-text-color: #d1d6da;
$path-color: #5c6874;
$border-color: #e1e4e6;
$highlighter-heading-color: #2c384a;
$description_highlight-bg: #fff4ed;
$light-text: #4b5665;
$orange: #ff7724;
$rating-color: #132333;
$sky-blue: #1b88f4;
$text-blue: #1b88f4;
$red-text: #ef4c5d;
$dark-blue-text: #074786;
$highlight-bg: #f2f4f7;
$header-text: #4b5665;
$grade-color: #074786;
$hostname-color: #626e79;
$star-fil-color: #ffb80f;
